# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
#--------------------------------
mobile_app:
#--------------------------------
api:

#------------------------------------------------------------------------------
# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
#  base_url: !secret base_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  login_attempts_threshold: 20
  use_x_forwarded_for: false
  trusted_proxies:
    - 127.0.0.1
    - ::1
  ip_ban_enabled: true

#updater:
  # Discover some devices automatically
discovery:

###########################################################################

conversation: # для голосовых команд через микрофон

##################### Text to speech ######################################

tts:
#  - platform: yandextts # Определение платформы по работе с компонентом TTS
#    api_key: 'AgAAAAAjaIhQAATuwZ_DhrZHt0VAqSwx-CxBorM'
#    language: 'ru-RU' # Язык произносимой фразы – по умолчанию ru
#    codec: mp3     # Формат генерируемого аудио файла
#    voice: smoky   # Голос диктора
#    emotion: good  # Настроение диктора
#    speed: 1       # Скорость речи

  - platform: google_translate
    language: 'ru'
    base_url: https://chusov.duckdns.org:8123
    service_name: google_say
    cache: true
    time_memory: 300
    cache_dir: /tmp

############ Selected Configuration ##################################

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
switch: !include switches.yaml
sensor: !include sensors.yaml
media_player: !include media_players.yaml
notify: !include notify.yaml
binary_sensor: !include binary_sensor.yaml
light: !include lights.yaml
input_number: !include input_number.yaml

homeassistant:
#  name: СиВ-105
#  latitude: !secret latitude
#  longitude: !secret longitude
#  elevation: 160
#  unit_system: metric
#  temperature_unit: C
#  time_zone: Asia/Yekaterinburg
#  external_url: !secret base_url
#  internal_url: https://hass.h:8123
  allowlist_external_dirs:
    - /share
    - /tmp
    - /media
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 192.168.230.0/24
        - 172.30.0.0/16
        - 127.0.0.0/24
        - ::1
    - type: homeassistant
      api_password: !secret http_password
      
  media_dirs:
    media: /media
    recording: /media/records
    
######################################################

############## Required: MQTT settings ###############

mqtt:
  broker: 192.168.230.119
  discovery: true
  username: !secret mqtt_user
  password: !secret mqtt_password
#  birth_message:
#    topic: 'hass/status'
#    payload: 'online'
#  will_message:
#    topic: 'hass/status'
#    payload: 'offline'

#######################################################

weather:
  - platform: darksky
    api_key: !secret darksky_key
    mode: daily
#    language: ru

#### automation Drivent big window #############################################################################

timer:
  climat_ctrl:
    duration: '00:05:00'

#####################################################################################################################


# yandex_smart_home:

###################

shopping_list:

################################# API request to over host  ############################################################

rest_command:
#   holl_on:
#      url: 'http://dimmer_holl.local/control?cmd=event,relayon'
#      method: POST
#   holl_off:
#      url: 'http://dimmer_holl.local/control?cmd=event,relayoff'
#      method: POST
#   holl_night:
#      url: 'http://dimmer_holl.local/control?cmd=event,relaynight'
#      method: POST
#   on_bigroom:
#      url: 'http://dimmer_holl.local/control?cmd=event,relayon'
#      method: POST
#   off_bigroom:
#      url: 'http://dimmer_holl.local/control?cmd=event,relayoff'
#      method: POST
#   night_bigroom:
#      url: 'http://dimmer_holl.local/control?cmd=event,relaynight'
#      method: POST

################################ RF LINK 433mHz Receive and Transmit #######################################################

rflink:
  port: /dev//serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
  # send simultaneous commands as quickly as possible (may cause commands to fail)
  wait_for_ack: true
  reconnect_interval: 20
  # ignore_device:
  #   - digitech_*

############################################################################################

logger:
  default: error
#  logs:
#    homeassistant.core: debug
  logs:
    rflink: info
    homeassistant.components.rflink: info
    
###############################################

telegram_bot:
  - platform: polling
    api_key: !secret telegram_bot_api_key
    allowed_chat_ids:
       - !secret telegram_bot_chat_id
      # - !secret telegram_bot_chat_id_permenergosbytru
       - !secret telegram_bot_chat_id_share


##############################

#auto_backup:
#  auto_purge: true
  
############################################

#vacuum:
#  - platform: xiaomi_miio
#    host: !secret xiaomi_vacuum_host
#    token: !secret xiaomi_vacuum_token
    
##########################################

wake_on_lan: # enables `wake_on_lan` integration

#########################################

recorder:
  db_url: !secret mysql
  purge_keep_days: 4
  
###########################################

utility_meter:

  daily_energy:
    source: sensor.energy_flow_11_1
    cycle: daily
    tariffs:
      - день_T1
      - ночь_T2
      
  total_energy:
    source: sensor.energy_flow_11_1
    tariffs:
      - день_T1
      - ночь_T2

#-------------------------------------    
  cold_water_hour:
    source: sensor.water_cold_flow_10_2
    cycle: hourly

  cold_water_total:
    source: sensor.water_cold_flow_10_2

    
  hot_water_hour:
    source: sensor.water_hot_flow_10_1
    cycle: hourly
    
  hot_water_total:
    source: sensor.water_hot_flow_10_1
 
  feed_total:
    source: sensor.total_portions # Ротор кормушки, порция
    
  units_total:
    source: sensor.total_units ## Подушечки из кормушки Маси

############################################

input_select:  
  nrg_mode:
    name: Текущая тарифная зона
    options:
      - день_T1
      - ночь_T2
    icon: mdi:theme-light-dark
    
############################################

alarm_control_panel:
  - platform: manual
    name: Home Alarm
    code: !secret code
    arming_time: 30
    delay_time: 20
    trigger_time: 4
    disarmed:
      trigger_time: 0
    armed_home:
      arming_time: 0
      delay_time: 0

###########################################
ffmpeg:

camera:

  - platform: ffmpeg
    name: YoSee # ESCAM Q6 Button
    input: !secret cam_yoosee

#    extra_arguments: -pred 1 -q:v 2
#    extra_arguments: '-bsf:a aac_adtstoasc'
    
################# Vacuum Xiaomi S5 #################

  - platform: xiaomi_cloud_map_extractor
    host: !secret xiaomi_vacuum_host
    token: !secret xiaomi_vacuum_token
    username: !secret xiaomi_cloud_username
    password: !secret xiaomi_cloud_password
    country: "ru"
    scan_interval:
       seconds: 10
    auto_update: true
    attributes:
      - calibration_points
    draw:
      - charger
      - path
      - goto_path
      - predicted_path
      - no_go_zones
      - no_mopping_zones
      - vacuum_position
      - virtual_walls
      - zones
    map_transformation:
      scale: 1.5
#      rotate: 180
      trim:
        top: 20
        bottom: 10
        left: 30
        right: 30


#############################################

input_boolean:

  bigroom_climatctrl:
    initial: on

